body{
    padding: 0;
    margin:0;
    font-family :Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}
img{
    width: 350px;
    height: 350px;
    object-fit: cover;
}
h1{
    font-family :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 3px solid black;
    width: 400px;
    height:80px;
    border-radius: 60px;
    background: linear-gradient(to bottom, rgb(232, 150, 232), rgb(249, 201, 112) 100%);
    justify-content: center ;
    align-items: center;
    margin: 15px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.section1{
    background: linear-gradient(to bottom, white, rgb(84, 84, 234) 85%, rgb(218, 69, 69) 100%);
}
.section2{
    background: linear-gradient(to bottom,rgb(218, 69, 69) 80% , rgb(246, 227, 227) 100%);
}
.section3{
    background: linear-gradient(to bottom, rgb(246,227,227) 80% , rgb(204, 70, 204) 100%);
}
.section4{
    background: linear-gradient(to bottom, rgb(204, 70, 204), rgb(235, 178, 71) 100%);
}
.section5{
    background: linear-gradient(to bottom, rgb(235, 178,71), white 40%);
    padding:35%
}
p{
    margin: 50px
}
.fin-page{
    margin-bottom: 10px; 
}
label{
    background: linear-gradient(to bottom, rgb(249, 208, 249), rgb(245, 219, 171) 100%);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 20px ;
    padding-right:20px ;
    padding-bottom: 0.5rem;
    font: weight 10px;
    display: flex;
    justify-content: center;
    align-items:center;
}

textarea{
    margin-top:5px;
    display: flex;
    justify-content: center;
    align-items:center;

}
input:required:valid{
    border: 3px solid rgb(55, 55, 55);
    font-family:Georgia, 'Times New Roman', Times, serif;
    width: 50px;
    height:20px;
    border-radius: 4px;
    background-color : transparent;
    color: black;
    margin: 15px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: #18222b solid 2px
}

a{
    font-family:monospace;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    border-radius: 4px;
    border: solid 1px #18222b;
    padding: 10px 20px;
}

a:hover{
    background:rgb(237, 195, 195);

}
#pause-button, #stop-button{
    display: none;
}